
.cover {
    background-image: url(/car.jpg);
    background-size: cover;
    background-position: center;

    height: 570px;
    padding: 25px;
    
} 

.logo {
    display: inline-block;
    padding:  25px;
    font-size: 22px;
    font-weight: bold;
    color: #51ff00;
    
}


nav {
    display: inline-block;
    padding: 18px;
    margin-left: 55px;
    width: 55%;
}

nav a {
    display: inline;
    color: #222;
     text-decoration: none;
    margin-right: 18px;
    font-size: 17px;
    color: #ffffff;
}

.cover h1 {
    
    display: inline block;
     
    margin-top: 190px;
    margin-left: 40%;
    color: rgb(101, 54, 6);
    padding: 12px 25px;
    font-size: 30px;
}


.about {
    width: 90%;
    margin: 28px auto;
    text-align: center;
}

.about-text {
    display: inline-block;
    width: 50%;
    height: 345px;
    padding: 20px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #333;
}

.about-text h2 {
    margin-top: 0;
}

.about-text p {
    font-size: 17px;
    line-height: 1.7;
}

.about-image {
    display: inline-block;
    width: 42%;
    height: 345px;
    margin-left: 3%;
    vertical-align: top;
    border: 1px solid #333;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.testimonials {
    width: 92%;
    margin: 20px auto;
    text-align: center;
}

.testimonials h2 {
    margin-bottom: 15px;
}


.card {
    display: inline-block; 

    width: 20%;
    height: 280px;

    margin: 1%;
    padding: 15px;

    background: #523812;
    color: white;

    vertical-align: top;
    
}

.card img {
    width: 120px;
    height: 120px;

    border-radius: 50%;
    border: 2px solid rgb(21, 255, 0);
     object-fit: cover; 
}

.card h3 {
    margin-bottom: 5px;
}

.card p {
    margin-top: 5px;
}


footer {
    background: #165e0e;
    color: white;

    text-align: center;
    padding: 10px;

    margin-top: 20px;
}


 /* @media (max-width: 700px) {

    nav {
        width: auto;
        margin-left: 10px;
        margin-top: 10px;
    }

    .cover h1 {
        margin-left: 0;
        margin-top: 150px; 
         font-size: 20px;
    }

    .about-text,
    .about-image {
        width: 95%;
        margin: 10px 0;
    }

    .card {
        width: 90%;
        margin: 10px;
    }
}   */