.image-background{
   background-image: url(https://tse3.mm.bing.net/th/id/OIP.D5mBonNfbqiXeJ38nDOtgwHaNS?r=0&pid=ImgDet&w=187&h=335&c=7&dpr=1.5&o=7&rm=3);

background-size: cover;

width: 100vw;
height: 100vh;
}