p{
    color: darkblue;
}

li {
    padding: 10px;
    margin: 5px;
    font-size: 18px;
}

li:nth-child(1) {
    color: red;
    background-color: #ffe6e6;
}

li:nth-child(2) {
    color: green;
    background-color: #e6ffe6;
}

li:nth-child(3) {
    color: blue;
    background-color: #e6e6ff;
}

li:nth-child(4) {
    color: purple;
    background-color: #f3e6ff;
}

li:nth-child(5) {
    color: orange;
    background-color: #fff0d9;
}