 body {
            background-color: #f4f4f4;
            text-align: center;
            padding: 80px;
            font-size: small;
        }

        p {
            font-family: Georgia, serif;
            font-size: 28px;
        font-style: italic;
        font-size: small;
        }

       