body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}


.navbar {
    background-color: #333;
    color: white;
    margin-bottom: 30px;
    padding: 20px;

    
}

.navbar h2 {
    margin-bottom: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}


.content-box {
    background-color: white;
    margin: 0 30px 25px 30px;
    padding: 20px;
    border: 1px solid #ddd;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}